@media only screen and (max-width: 660px) {
    .mobile {
        display: block;
    }
    .header {
        .logo {
            font-size: 24px;
        }
    }
    .hero {
        .top-text {
            .text {
                text-transform: lowercase;
            }
        }
        .small-text {
            max-width: 247px;
        }
        .arrow {
            width: 5px;
            height: 9px;
        }
    }
    .section1 {
        margin-top: 50px;
        .container {
            .left-content {
                width: auto;
                .arrow {
                    width: 5px;
                    height: 9px;
                }
                .content {
                    display: flex;
                    justify-content: end;
                    .img {
                        width: 322.61px;
                        min-height: 288.57px;
                    }
                    .background {
                        margin: 15px 0 0 20px;
                        width: 315px;
                        min-height: 290px;
                    }
                    .button {
                        right: 45px;
                        bottom: 10px;
                        .left,
                        .right {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
    .section2 {
        margin-top: 50px;
        .container {
            .title {
                .hidden {
                    display: none;
                }
            }
        }
    }
    .section3 {
        margin-top: 50px;
        .container {
            .right-content {
                width: 320px;
                height: 286px;
                .img {
                    left: 50%;
                    transform: translateX(-50%);
                    width: 320px;
                    height: 286px;
                    box-shadow: 0px 4px 30px 0px #0000001a,
                        -14.4px 17.5px #c8e6c9;
                }
                .hidden {
                    display: none;
                }
            }
        }
    }
    .section4 {
        margin-top: 70px;
        .container {
            gap: 52px;
        }
    }
    .footer {
        margin-top: 118px;
        padding: 20px 0;
        .container {
            .top-footer {
                flex-direction: column;
                align-items: start;
                gap: 14px;
                .gmail {
                    max-width: 100%;
                    .hidden {
                        display: none;
                    }
                    .button {
                        width: auto;
                        padding: 17px 38px;
                        font-size: 16px;
                    }
                }
            }
            .bottom-footer {
                .logo {
                    font-size: 24px;
                    letter-spacing: 5px;
                }
                .social {
                    gap: 0;
                }
            }
        }
    }
    hr {
        margin: 14px 0;
    }
}
